#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body {
  --calcite-color-brand: #39BEBA;
}

#mouse_coordinates {
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
  height: 100%;           /* o qualsiasi altezza tu voglia */
  
}