#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body {
  --calcite-color-brand: #39BEBA;
}

#mouse_coordinates {
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
  height: 100%;           /* o qualsiasi altezza tu voglia */
  
}


/* Stile per l'indicatore di caricamento delle info per i punti del file CSV */
#upload_status {
  transition: opacity 0.3s ease-in-out;
}

.upload-blink {
  animation: blinkAnim 1s infinite;
}

@keyframes blinkAnim {
  0% { opacity: 1; }
  50% { opacity: 0.35; }
  100% { opacity: 1; }
}
